@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Bree+Serif&display=swap');

:root {
  --yellowColor: #F6D55C;
  --darkBlueColor: #173F5F;
}

#nav{
  background-color: var(--darkBlueColor);
}

#header{
  background-image: url("https://images.unsplash.com/photo-1497994139250-caecb78f9df9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80");
  background-repeat: no-repeat;
  background-color:#FAFBFF;
  background-position: 0% 75%;
  background-size: 900px;
}

.card-image {
  position: relative;
  float: left;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  object-fit: cover;
}

#headerDesc{
  background-color:var(--darkBlueColor);
  color:white;
}

h1 {
  font-family:'Archivo Black', sans-serif;
  color:var(--yellowColor);
  text-transform: uppercase;
  text-shadow: 3px 3px var(--darkBlueColor);
  letter-spacing: -3px;
}

.card-text{
  text-align: center;
  text-transform: capitalize;
}

h2 {
  text-align: center;
  font-family:'Archivo Black', sans-serif;
  color: var(--darkBlueColor);
}

#navLogo{
  font-family:'Archivo Black', sans-serif;
  color:var(--darkBlueColor);
  text-transform: uppercase;
  letter-spacing: -1px;
}

#signupbutton{
  background-color:var(--yellowColor);
}

.loginbutton, #clientinfo{
  color:var(--yellowColor);
  background-color:var(--darkBlueColor);
}

#content{
    margin-left: 64px;
    margin-right: 64px;
}

#form-left{
  margin-left: 64px;
}

#apt-form-leftMinus{
  margin-left: -200px;
}

#pet-form-leftMinus{
  margin-left: -70px;
}

#vet-form-leftPlus{
  margin-left: 70px;
}

#schedule-form-leftMinus{
  margin-left: 20px;
}

#form-title {
  font-family:'Archivo Black', sans-serif;
  color:var(--dark);
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: center;
}

.lightbutton{
  color:var(--yellowColor);
}

.darkbutton{
  color:var(--darkBlueColor);
}

.center-v{
  margin-top: auto;
  margin-bottom: auto
}

.center-h{
  margin-left: auto;
  margin-right: auto
}